*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
    list-style-type: none;
}
.header{
    width: 100%;
    /* vh is viewPort height */
    height: 60vh; 
    background-color: #fff;
    position: relative;
}